body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: antiquewhite;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.header button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.wrapper {
    width: 600px;
    margin: 0 auto;
    display: flex;
    background-color: rgb(169, 233, 211);
    justify-content: space-around;
}

.chats {
    border-right: 1px black solid;
    flex-grow: 1;
}

.messages {
    flex-grow: 2;
}

.message {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(190, 174, 154);
    margin: 20px;
}

.message p {
    font-size: 10px;
}

.message-form {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(190, 174, 154);
    margin: 20px;
}

.message-form textarea {
    width: 100%;
    border: none;
    border-radius: 10px;
}

.chats div {
    padding: 20px;
    cursor: pointer;
}

.chats div:hover {
    background-color: rgb(233, 203, 166);
}

.chats-active {
    background-color: rgb(229, 202, 165);
}


.btn-send {
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(196, 229, 165);
}