.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-inner {
  background-color: aliceblue;
  display: flex;
}

.message-form-wrapper {
    width: 400px;
}
